<div class="row">
  <div class="col-md-4 col-sm-4 col-lg-3">
    <nb-card style="cursor:pointer" (click)="historico(1)" style="text-align:center">
      <nb-card-header>
        <nb-icon icon="checkmark-circle-2-outline" pack="eva" style="font-size:7rem;color: #339900;"></nb-icon>
      </nb-card-header>
      <nb-card-body>
        <b>Fresadora 1</b>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 col-sm-4 col-lg-3">
    <nb-card style="cursor:pointer" (click)="historico(2)" style="text-align:center">
      <nb-card-header>
        <nb-icon icon="alert-triangle-outline" pack="eva" style="font-size:7rem;color: #cc3300;"></nb-icon>
      </nb-card-header>
      <nb-card-body>
        <b>Fresadora 2</b>
      </nb-card-body>
    </nb-card>
  </div>
</div>